{% extends 'KindergartenWebBundle:Default:index.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Kontakt</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare fringilla sapien, et porta nunc ultricies vitae. Duis sed venenatis lorem, a semper nisl. Fusce imperdiet nec elit in cursus. Donec maximus sed justo vitae sodales. Suspendisse ullamcorper aliquam velit, non tempus nisi malesuada ut. Fusce a commodo nibh, dictum consectetur ligula. Vivamus eget sem et sem mattis cursus. Praesent consectetur, tortor vitae condimentum blandit, erat dui congue augue, a fermentum lacus elit ac diam. Praesent eleifend ex ipsum, ut volutpat erat ullamcorper vel. Vestibulum pretium varius lectus, eu blandit lacus faucibus et. In maximus lorem ut consequat luctus.</p>
        </div>
    </div>
{% endblock %}